<html>
<head>
</head>
<body>
	<h3>Compare Followers</h3>
	<div>
	<form name="Twitter" action="/results" method="post">
		<input type='text' name="loginA"></input><br>
		<input type='text' name="loginB"></input><br>
		<button>Submit</button>
	</form><br>
	<h3>My Tweets</h3>
	<div>
	<form name="Twitter" action="/my-tweets" method="post">
		<button>Show My Tweets</button>
	</form><br>

	<h3>Add a Tweet!</h3>
	<div>
	<form name="Twitter" action="/tweet" method="post">
		<input type='text' name="tweet"></input><br>
		<button>Tweet!</button>
	</form><br>

</body>
</html>