<html>
<head>
	<style type="text/css">
		.box{
			display:block;
			width: 500px;
			margin: 0 auto;
			border: thin solid black;
			padding: 20;
			border-radius: 15px;
			box-shadow: 0 0 20px 3px #ccc;
			box-sizing: border_box;
			text-align: center;
		}

		.winner{
			font-size: 3em;
		}
	</style>
</head>
<body>
	<div class="box">
		<ul>
			<% @tweets.each do |x| %>
				<li><%= x[:text] %></li>
			<% end %>
		</ul>

		<a href="/">Go Back</a></div>
</body>
</html>